/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*************************************
 *
 * Remember to remove @import when finished
 * and include in big .scss file
 *
*************************************/
@import "components/color";
@import "components/variables";
@import "components/grid";

nav ul a {
  color: #444;
  &:hover {
    background-color: rgba(255,171,64,.8);
  }
}

#logo-container {
  width: 55px;
  height: 55px;
  @media #{$medium-and-up} {
    width: 66px;
    height: 66px;
  }
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

#koncerter img {
  width: 100%;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

// Optagelse form
form {
  ul.helper-text {
    display: block;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #808080;

    li.valid {
      color: #1fd34a;
    }
  }

  &.valid {
    input { border: 2px solid #1fd34a; }
  }
}
