/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*************************************
 *
 * Remember to remove @import when finished
 * and include in big .scss file
 *
*************************************/
@import "components/color";
@import "components/variables";
@import "components/grid";
@import "components/typography";
@import "components/global";

nav ul a {
  color: #444;
  &:hover {
    background-color: rgba(255,171,64,.8);
  }
}

#logo-container {
  width: 55px;
  height: 55px;
  @media #{$medium-and-up} {
    width: 66px;
    height: 66px;
  }
}

p {
  line-height: 1.6rem;
}

.button-collapse {
  color: #26a69a;
}

#koncerter img {
  width: 100%;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  a {
    color: #f9a825;
    &:hover {
      color: lighten(#f9a825, 10%);
    }
  }
}

// Optagelse form
form {
  ul.helper-text {
    display: block;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #808080;

    li.valid {
      color: #1fd34a;
    }
  }

  &.valid {
    input { border: 2px solid #1fd34a; }
  }
}

// Login-content
.toastInvalidUser {
  @extend .red, .darken-1;
}
#login-content {
  display: none;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 999;
  background: #fff;
  padding: 10px 20px 0 20px;
  // box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  @extend .z-depth-2;
  border-radius: 0 0 5px 5px;
  color: $primary-color-dark;
  .row {
    margin-bottom: 0;
  }
  .input-field input {
    border-bottom: 1px solid #9e9e9e;
    padding: 0;
  }
  .input-field label {
    left: 10px;
    &.active {
      transform: translateY(-30%);
    }
  }
  .btn i.material-icons {
    font-size: 20px;
    line-height: 35px;
  }
}

.mobil-login {
  margin: 40px auto 30px;
}

.concert-time {
  font-size: 12px;
  color: rgb(255,171,64);
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  margin-bottom: 27.5px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#dirigent {
  margin: 50px auto;
  img {
    border-radius: 25px;
  }
  p.flow-text {
    line-height: 1.4;
  }
}