@import "../../sass/components/color";
@import "../../sass/components/variables";
@import "../../sass/components/grid";
@import "../../sass/components/typography";
@import "../../sass/components/global";


@media #{$large-and-up} {
  .admin-area {
    padding-left: 300px;
    .admin-area {
      padding: 0 20px;
    }
  }
}
.admin-main {
}
.nav-wrapper {
  color: $secondary-color;
  padding: 0 20px;
}

#medlemmer_table_wrapper {
  overflow-x: scroll;
  #medlemmer_table_filter {
    position: relative;
    margin: 20px auto;
    width: 150px;
    float: none;
    input[type="search"] {
      height: 2rem;
    }
    label {
      position: absolute;
      top: 11px;
      left: -44px;
    }
  }
}
