@import "../../sass/components/color";
@import "../../sass/components/variables";
@import "../../sass/components/grid";
@import "../../sass/components/typography";
@import "../../sass/components/global";


@media #{$large-and-up} {
  .admin-area {
    padding-left: 300px;
    .admin-area {
      padding: 0 20px;
    }
  }
}
.admin-main {
}
.nav-wrapper {
  color: $secondary-color;
  padding: 0 20px;
}

/**************************
****** MEMBERS TABLE ******
**************************/
#medlemmer_table_wrapper {
  margin: 10px 15px 0;
  overflow-x: scroll;
  .dataTables_empty {
    background-color: $primary-color;
    color: white;
  }
  #medlemmer_table_filter {
    position: relative;
    margin: 20px auto;
    width: 150px;
    float: none;
    input[type="search"] {
      height: 2rem;
      position: relative;
      top: 17px;
    }
    label {
      position: absolute;
      top: 18px;
      left: -135px;
      font-size: 18px;
    }
  }
}

table.fixedHeader-floating {
  position: fixed !important;
  background-color: white;
}

table.fixedHeader-floating.no-footer {
  border-bottom-width: 0;
}

table.fixedHeader-locked {
  position: absolute !important;
  background-color: white;
}

@media print {
  table.fixedHeader-floating {
    display: none;
  }
}
