@import "../../sass/components/color";
@import "../../sass/components/variables";
@import "../../sass/components/grid";
@import "../../sass/components/typography";
@import "../../sass/components/global";


@media #{$large-and-up} {
  .admin-area {
    padding-left: 250px;
    .admin-area {
      padding: 0 20px;
    }
  }
}
.admin-main {
  .card.large .card-content,
   .card.medium .card-content,
   .card.small .card-content {
    overflow: scroll;
    padding: 5px 20px 5px;
  }
}
.nav-wrapper {
  color: $secondary-color;
  padding: 0 20px;
}

/**************************
****** MEMBERS TABLE ******
**************************/
.view-all-members > .row  {
  margin: 40px auto 0;
}
#medlemmer_table_wrapper {
  margin: 10px 15px 0;
  overflow-x: scroll;
  .dataTables_empty {
    background-color: $primary-color;
    color: white;
  }
  #medlemmer_table_filter {
    position: relative;
    input[type="search"] {
      height: 2rem;
      position: relative;
      top: 17px;
      @media #{$small-and-down} {
        left: 135px;
      }
    }
    label {
      position: relative;;
      font-size: 18px;
      &:focus {
        transform: translateY(-140%)
      }
    }

  }
}

table.fixedHeader-floating {
  position: fixed !important;
  background-color: white;
}

table.fixedHeader-floating.no-footer {
  border-bottom-width: 0;
}

table.fixedHeader-locked {
  position: absolute !important;
  background-color: white;
}

@media print {
  table.fixedHeader-floating {
    display: none;
  }
}
table.dataTable.checkboxes-select tbody tr,
table.dataTable thead .checkboxes-select-all {
  cursor: pointer;
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}

@media screen and (max-width: 640px) {
  div.dataTables_wrapper span.select-info,
  div.dataTables_wrapper span.select-item {
    margin-left: 0;
    display: block;
  }
}


/*****************************
 ********* DASHBOARD *********
 ****************************/
.dashboard-card {
  border-radius: 5px;
  border: 2px solid white;
  &.new-apps {
    ul>a>button {
      margin-top: 5px !important;
    }
  }
  @media #{$small-and-down} {
    border-left: 4px solid white;
    border-right: 4px solid white;
  }
  &>ul>a {
    color: white;
  }
}

.bold {
  font-weight: 700;
}
.new-app {
  @include margin-top(35px);
}



.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  color: red !important;
}

// .events .collapsible {
//   margin-top: 45px;
// }
.events .collapsible-body .row {
  padding-top: 50px;
  @media #{$small-and-down} {
    form {
      padding-bottom: 50px;
    }
  }
  @media #{$medium-and-up} {
    & > form.dotted {
      border-right: 2px dotted grey;
    }
  }
}

/*****************************
 ********* Protocol *********
 ****************************/
.protocol-entry input[type="checkbox"]:not(:checked),
.protocol-entry input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.fixedElement {
    position:fixed;
    width:100%;
    z-index:100;
}

.checkbox-info {
  @media #{$small-and-down} {
    width: 120px;
  }
  width: 130px;
  min-height: 30px;
  // border: 2px dotted teal;
  // border-radius: 3px;
  display: inline-block;
  padding: 5px;
}

.protocol_detail {
  .protocol-entry {
    padding-top: 20px;
  }
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: relative;
  left: inherit;
  visibility: inherit;
}
[type="checkbox"] + label {
  padding-left: 15px;
  &:before {
    border: none;
    top: 0px;
    left: -10px;
  }
}
[type="checkbox"]:checked+label:before {
  left: -10px;
  top: 0;
}
